apiVersion: apps/v1
kind: Deployment
metadata:
  name: courseproj1-spark
  labels:
    app: courseproj1-spark
spec:
  selector:
    matchLabels:
      app: courseproj1-spark
  replicas: 1
  minReadySeconds: 15
  strategy:
    type: RollingUpdate
    rollingUpdate: 
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: courseproj1-spark
    spec:
      containers:
        - image: nqmaigre/courseproj1-spark:latest
          imagePullPolicy: Always
          name: courseproj1-spark
          ports:
            - containerPort: 60002
